LOCAL_DATA_PATH=~/.lewagon/mlops/data
LOCAL_REGISTRY_PATH=~/.lewagon/mlops/training_outputs

#DATASET_SIZE=10k
#VALIDATION_DATASET_SIZE=10k
#CHUNK_SIZE=6000

DATA_SOURCE=local
#MODEL_TARGET=local

# GCP Project
PROJECT=sun-shade
REGION=europe-west1

# Cloud Storage
BUCKET_NAME=sun-shade-bucket
BLOB_LOCATION=data

# BigQuery (multi region must be EU since le wagon cloud storage public datasets are in EU)
MULTI_REGION=EU
DATASET=taxifare_dataset

# Compute Engine
INSTANCE=sun-shade-instance